Old
**/Old
.Rproj.user
.Rhistory
.RData
_book
_bookdown_files
rsconnect


# Never commit student-related data
*Grades*
*grades*
*Roster*
*roster*
*Students*
*students*
*Submissions*
*submissions*
*.xlsx
*.csv
*.sav
*.dta

